@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --basic-color: #0b2b4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url('./images/background.jpg') center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* Global Styles */

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(72,122,180,.9) 3%, rgba(30,77,131, 1) 92%);
}

.wrapper {
    width: 100%;
    height: 100%;
}


/* Header + Navbar */

header {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left Logo image + svg */

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    cursor: pointer;
}

.sky-team-svg {
    height: 2rem;
    width: 2rem;
}


/* Right Navbar */

.nav-right {
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Right Navbar links */

.nav-right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right ul li {
    margin-right: 1rem;
    position: relative;
}

/* Navlink underscore on hover */

.nav-right ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #da6b2c;
    bottom: -.3rem;
    left: 0;
    transform: scale(0);
    transition: transform .3s ease-in;
}

.nav-right ul li:hover::after {
    transform: scale(1);
}

.nav-right ul li:first-of-type {
    transition: opacity .1s ease-in;
}

.nav-right ul li:first-of-type:hover::after {
    display: none;
}

.nav-right ul li:first-of-type:hover {
    opacity: .9;
}

/* 1st Navbar link */

.buy-ticket {
    position: relative;
    display: inline-block;
    padding: .5rem .8rem .5rem 2.3rem;
    background-color: hsl(29, 93%, 49%);
    border-radius: 3px;
}

.fa-battery-empty {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .9;
    transform: rotate(-45deg);
    top: .5rem;
    left: .4rem;
}

.fa-fighter-jet {
    position: absolute;
    font-size: .2rem;
    top: 1rem;
    left: 1rem;
}

/* Navbar icons */

.nav-icons i {
    margin-right: 1rem;
    cursor: pointer;
    transition: opacity .1s ease-in;
}

.nav-icons i:hover {
    opacity: .5;
}

.nav-icons .tooltip {
    position: relative;
}

.nav-icons .tooltip::after {
    position: absolute;
    background: rgb(233, 233, 227);
    border: 1px solid black;
    color: black;
    content: attr(data-tooltip);
    padding: .3rem;
    font-size: .7rem;
    top: 1.5rem;
    left: 1rem;
    right: -5rem;
    bottom: -1.9rem;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.nav-icons .tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Navbar Country & Language Selection */

.nav-country {
    background-color: #21436b;
    padding: .5rem;
    font-size: .8rem;
    border-radius: 3px;
}

.nav-country:hover {
    background-color: #183a62;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}

.nav-country a {
    display: inline-block;
    padding: 0 .3rem;
}

.nav-country a:last-of-type {
    position: relative;
}

.nav-country a:last-of-type::before {
    position: absolute;
    content: '';
    height: 1.9rem;
    width: 1px;
    top: -.5rem;
    left: -.1rem;
    background-color: #0b2b4f;
}

.nav-country i {
    cursor: pointer;
}

.header:hover .tickets-submenu {
    background-color: hsl(29, 93%, 49%);
}

/* Buy Tickets submeny */

.show {
    display: block;
    z-index: 5;
    opacity: 1;
}

.tickets-submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color:	#0b3058;
    height: 21rem;
    width: 100%;
    padding: 3rem 3rem 1rem 9rem;
    display: grid;
    grid-template-columns: 22% 17% 15% 20% 20%;
    grid-gap: 1rem;
    transition: all .4s ease-in-out;
}


.tickets-submenu span {
    display: inline-block;
    margin-bottom: 1rem;
}


.tickets-submenu span a {
    font-weight: bold !important;
    opacity: 1 !important;
    font-size: 1rem !important;
}

.tickets-submenu a:hover {
    border-bottom: 1px solid hsl(29, 93%, 49%);
    opacity: 1;
}

.column-1 ul li span {
    margin-right: 1rem;
}

.column-1 ul li span i {
    color: hsl(29, 93%, 49%);
}

.column-1 ul li a {
    font-weight: bold !important;
    font-size: 1rem !important;
    opacity: 1 !important;
}

.tickets-submenu ul li {
    margin-bottom: .8rem;
}

.tickets-submenu a {
    font-size: .9rem;
    opacity: .8;
}

.column-5 {
    padding-top: 2.2rem;
}


/* --------------------------------------------------------------------------------------------------- */

/* Carousel Section */


.carousel {
    height: 40rem;
    width: 100%;
    position: relative;
    z-index: 3;
}

.overlay-2 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(213, 228, 235, .7);
    z-index: 5;
}

/* Carousel Slide Chevrons */

.chevron-left {
    position: absolute;
    height: 100%;
    width: 13rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chevron-left:hover {
    
}

.fa-chevron-left {
    font-size: 2rem;
}

.chevron-right {
    position: absolute;
    height: 100%;
    width: 13rem;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chevron-right:hover {
    background: linear-gradient(105deg, rgba(255,255,255,.5) 26%, rgba(186,184,180,.5) 49%);
}

.fa-chevron-right {
    font-size: 2rem;
}

/* Slides */

.slides {
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    background: url('./images/aeroflot.jpg') center/cover no-repeat;
}

/* Tabs List */

.tabs {
    position: absolute;
    top: 1rem;
    left: 22rem;
    height: 3rem;
    width: 40.65rem;
    background-color: 	#e6eff8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
}

.tabs a {
    height: 100%;
    line-height: .8rem;
    display: block;
    color: #2e6cb3;
    padding: 1.1rem;
    font-size: .9rem;
    font-weight: bold;
    border-right: 1px solid #a4bedd;
    border-bottom: 1px solid #a4bedd;
    float: left;
    text-align: center;
}

.tabs a:first-of-type {
    width: 10rem;
    background-color: #fff;
    border-bottom: none;
    color: black;
}

.tabs a:last-of-type {
    border-right: none;
}


/* Tab Content Common style */

.tab-content {
    position: absolute;
    top: 4rem;
    left: 22rem;
    width: 57rem;
    background-color: #fff;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


/* 1st Tab - Booking Section */

.booking {
    color: black;
    padding: 1.5rem 2rem;
    height: 16rem;
}

/* 1st row */

.booking ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24rem;
    margin-bottom: 2rem;
}

.booking ul li a {
    color: #3b80cf;
    font-size: .9rem;
    font-weight: bold;
}

.booking ul li {
    position: relative;
}

.booking ul li:first-of-type::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: hsl(29, 93%, 49%);
    position: absolute;
    bottom: -.1rem;
    left: 0;
}

/* 2d row - form with inputs */

.form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.form small {
    display: block;
    font-size: .7rem;
    margin-bottom: .7rem;
    opacity: .7;
}

.form input {
    padding: .8rem .7rem;
    opacity: .7;
    border: 1px solid #b8babd;
    box-shadow: 0px 10px 5px -12px rgba(0,0,0,0.75);
    border-radius: 4px;
    font-size: .9rem;
    margin-right: .8rem;
}

.form input:focus,
.form input:focus-within {
    border: 1px solid #67aaf7;
    outline: none;
}

.departure-city input,
.arrival-city input {
    width: 12rem;
}

.from-date {
    position: relative;
}

.to-date {
    position: relative;
}

.from-date input,
.to-date input {
    width: 8rem;
}

.fa-calendar {
    position: absolute;
    top: 2.4rem;
    left: 6.6rem;
    font-size: 1rem;
    color: rgba(72,122,180,.3);
}

.passengers {
    position: relative;
    cursor: pointer;
}

.passengers input {
    width: 10rem;
    position: relative;
    cursor: pointer;
}

.passengers::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 1.1rem;
    left: 8.5rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #7997b9;
    opacity: .6;
}

/* 3d row */

.bottom-elements {
    color: #3b80cf;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-left {
    width: 20.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-right {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-elements a {
    color: inherit;
    font-size: .9rem;
    transition: opacity .1s ease-in;
}

.bottom-elements a:hover {
    opacity: .5;
}

.bottom-elements i {
    font-size: .8rem;
    opacity: .7;
    cursor: pointer;
    margin-right: .1rem;
}


.for-miles {
    height: 100%;
    display: flex;
    align-items: center;
}

.for-miles label {
    font-size: .9rem;
    color: black;
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    top: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: .1rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.btn-search {
    border: none;
    padding: 1rem 3rem;
    background-color: #cad5e7;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: not-allowed;
}





